<template>
  <div class="Cupping" ref="page">
    <div class="Cupping--navbar">
      <Icon name="nav-arrow" />
      <Icon name="menu" />
    </div>
    <div class="Cupping--tab-titles" ref="tabs">
      <div
        class="Cupping--tab-title"
        v-for="sample in samples"
        :selected="selectedSample.id === sample.id"
        :key="sample.id"
        @click="({ target }) => selectSample(sample, target)"
      >
        {{ sample.name }}
      </div>
    </div>
    <div class="Cupping--tab-titles-dot">●</div>
    <div class="Cupping--tab">
      {{ selectedSample.coffee.roast }}
    </div>
  </div>
</template>

<script>
import Icon from '../components/Icon'
export default {
  name: 'Cupping',
  components: {
    Icon,
  },
  data() {
    const samples = [
      {
        name: 'Sample #1',
        id: '0',
        coffee: {
          roast: 'light',
        },
      },
      {
        name: 'Sample #2',
        id: '1',
        coffee: {
          roast: 'med',
        },
      },
      {
        name: 'Sample #3',
        id: '2',
        coffee: {
          roast: 'dark',
        },
      },
    ]
    return {
      samples,
      selectedSample: samples[0],
    }
  },
  methods: {
    selectSample(sample, element) {
      this.selectedSample = sample
      const el = {
        center: this._getCenter(element),
        offset: this.x(element) - this.x(this.$refs.tabs),
      }
      const pageWidth = this.$refs.page.getBoundingClientRect().width / 2
      const position =
        pageWidth - this._getPadding(this.$refs.page) - el.offset - el.center
      this.$refs.tabs.style.transform = `translate(${position}px)`
    },
    x(el) {
      return el.getBoundingClientRect().x
    },
    _getCenter(element, includePadding = true) {
      let center = element.getBoundingClientRect().width / 2
      return includePadding ? center : center + this._getPadding(element)
    },
    _getPadding(element) {
      // Caveat: This method presumes that we want the left/right padding only
      return parseFloat(
        window.getComputedStyle(element, null).getPropertyValue('padding-left')
      )
    },
  },
}
</script>

<style lang="sass" scoped>
.Cupping
  align-items: center
  box-sizing: border-box
  display: flex
  flex-flow: column
  height: 100%
  padding: 30px
  overflow: hidden
  .Cupping--navbar
    align-items: center
    display: flex
    justify-content: space-between
    width: 100%
    margin-bottom: 35px
  .Cupping--tab-titles
    display: flex
    transform: translateX(40%)
    transition: transform .3s
    width: 100%
    .Cupping--tab-title
      display: flex
      flex-flow: column
      margin-right: 24px
      padding: 5px
      transition: all .3s
      &[selected]
        font-weight: 500
  .Cupping--tab-titles-dot
    font-size: 10px
  .Cupping--tab
    margin-top: 50px
</style>
