<template>
  <div class="Modal">
    <slot name="header"></slot>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'Modal',
}
</script>

<style lang="sass" scoped>
.Modal
  position: absolute
</style>
