<template>
  <div id="app">
    <transition name="slide-fade" mode="in-out">
      <router-view />
    </transition>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir Next, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #272222;
  height: 100%;
  min-height: 700px;
}

.slide-fade-enter-active {
  transition: opacity 0.3s ease-in-out;
}
.slide-fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}
.slide-fade-enter,
.slide-fade-leave-to {
  opacity: 0;
}
</style>
